/* ---------- root variables ---------- */
:root {
  --green: rgb(51, 81, 61);
  --light-green: rgb(209, 222, 196);
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --text-color-danger: rgb(152, 58, 58);
  --white: #f1f1f1;
}

.btn__style {
  margin: 5px 0;
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono", monospace; */
  font-family: "Poppins", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btn__style:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btn__style:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn__style:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

header {
  display: flex;
  height: 5%;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color-light);
  background-color: var(--green);
}

main {
  display: flex;
  border: 2px solid pink;
}

#innerBody {
  display: flex;
  border: 2px solid brown;
  width: 100%;
}

#achievements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  padding: 20px 16px;
}
#portrait {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50%;
}

#portrait h2 {
  display: flex;
  justify-content: center;
}
#portrait img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}
/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  color: var(--text-color-dark);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-green);
}

/* ---------- nav styling ---------- */
nav {
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  align-items: center;
  text-align: center;
}

/* @media (min-width: 600px) {
  nav {
    padding: 1em 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;

  color: var(--text-color-light);
  text-align: center;
  padding: 20px 15px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-green);
  color: var(--text-color-dark);
  width: 100%;
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-green);
  color: var(--green);
  width: 100%;
}

.view-content {
  display: none;
  padding: 248px 2em;
}

@media (min-width: 600px) {
  .view-content {
    padding: 94px 2em;
  }
}

.view-content.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-between;

  color: var(--text-color-light);
  background-color: var(--green);
}

footer a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer a:hover {
  background-color: var(--light-green);
  color: var(--text-color-dark);
}

footer a.active {
  background-color: var(--light-green);
  color: var(--green);
}

.competitors__item {
  border: 2px solid brown;
}

#competitors {
  display: flex;
}

.members__item {
  border: 2px solid brown;
}

#members {
  display: flex;
}

.timeTable {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeTableMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

th {
  border: 1px solid black;
  margin: 2px;
  padding: 3px;
  justify-content: center;
  align-items: center;
}
td {
  border: 1px solid black;
  margin: 2px;
  padding: 3px;
  justify-content: center;
  align-items: center;
}
